@model IEnumerable<Parts.Entities.Selection>
@using WebPart.Controllers

@{
    ViewData["Title"] = "Главная - список выборок";
}


<h1>Главная - список выборок</h1>

<table class="table">
    <tbody>
        <tr>
            <td>
                <p>Низкий бюджет</p>
            </td>
            <td>
                @{
                  //  Switch.SetCondition("Low");
                }
                <a asp-action="IndexLowParts">Перейти</a>
            </td>
        </tr>

        <tr>
            <td>
                <p>Средний бюджет</p>
            </td>
            <td>
                <a asp-action="IndexAverageParts">Перейти</a>
            </td>
        </tr>
        <tr>
            <td>
                <p>Высокий бюджет</p>
            </td>
            <td>
                <a asp-action="IndexHighParts">Перейти</a>
            </td>
        </tr>
        <tr>
            <td>
                <p>Все детали</p>
            </td>
            <td>
                <a asp-action="IndexParts">Перейти</a>
            </td>
        </tr>
        <tr>
            <td>
                <p>             Пользовательские выборки</p>
            </td>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
        }
        <tr>
            <td>
                <a asp-action="IndexSelection">Перейти</a>
            </td>
        </tr>
    </tbody>
</table>